

body{
    
box-sizing: border-box;
position: relative;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif


}

 
a{
    text-decoration: none;

}

._btn{
    color: #fff;
    font-size: 25px;
    padding: 8px;
    border-radius: 15px;
    text-shadow: 0 -1px 1px #777;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
    transition: 0.2s;
    
}
._btn:hover{
    cursor: pointer;
}

._btn:active{
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    overflow: hidden;
    padding: 25px;
    background-color:rgb(255, 140, 0,0.5);


}

/*------header-------*/

.header {
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    
    border-radius: 5px;
    
}
.header__img{
    position: relative;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 5px rgba(0,0,0,0.25);
}

.header__img img{
max-width: 1100px;
border-radius: 5px;
    
}

.header__logo {
    
    z-index: 10;
    color: #fff;
    position: absolute;
    top: 30px;
    left: 70px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);

    
}
.firstWord {
    display: flex;
    position: relative;
    color: #fff;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);


}
.firstLetter {
    font-size: 300px;
    position: relative;

    
}



.word1{
    font-size: 35px;
    position: absolute;
    top: 65px;
    left: 130px;
}
.word2 {
    font-size: 35px;
    
}
.secondWord {
    display: flex;
    align-items: center;
    position: absolute;
    top: 100px;
    left: 55px;
    z-index: 20;

}

@media(max-width: 600px){
    .header__logo {
        left: 0px;
    }
    .header__img img{
        object-position:-90px;
    }



}
@media(max-width: 460px){
    .secondWord{
        display: block;
    }
    .word2{
        position: absolute;
        bottom: 10px;
        left: 100px;
    
    } 
    .header__img{
        box-shadow: none;
    }
}


/*-------about-----------*/

.about{
    font-size: 25px;
    margin-top: 80px;
    border-bottom: 1px solid  rgba(0,0,0,0.25);
    
}

.about__author{

margin-left: 240px;


}

.about__direction{
    margin-top: 40px;
}

@media(max-width: 600px){
    .about__author{
        margin-left: 0;
    }
}

/*-----------analyse------------*/

.analyse{
    margin-top: 50px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.analyse__title{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.text{
    font-size: 18px;
    padding: 10px;

}

.question {
    margin-top: 25px;
}
.answer {
    margin-left: 150px;
    margin-top: 25px;
    border: 1px solid  rgba(0,0,0,0.25);
    padding: 5px;
}

@media(max-width: 550px){
    .answer{
        margin-left: 0;
    }
}


/*--------profParent--------*/

.profParent {
    font-size: 18px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 15px;
    
    margin-top: 50px;
}
.programs {
    text-align:center;
    font-size: 30px;
}
.profParent__top{
    display: flex;
    justify-content: space-around;
    position: relative;


}
.profParent__title {
    font-family: 'Courier New', Courier, monospace;
}

._word1Pr{
    left: 170px;
}

._secondWordPr{
    left:50px;
}


.profParent__foto {

}
.profParent__inform {
    display: flex;
    margin-top: 40px;
}
.course {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 5px;
    margin-right: 15px;
    font-size: 20px;
}
.topic {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 5px;
}
.video {
}
.profParent__group{
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
}

.detail{
    display:flex;
    justify-content: center;
    margin-top: 25px;
}
.profParent__button {
    
    
}
.profParent__button:active{
   
}

@media(max-width: 770px){
    .profParent__top{
        flex-direction: column;
        align-items: center;
    }

    .profParent__foto {
        margin-top: 30px;
    }

}

@media(max-width: 650px){
    .profParent__top{
        align-items: stretch;
    }
    
    .profParent__inform{
        flex-direction: column;
        
    }

    .profParent__inform .topic{
        margin-top: 20px;
    }


    .profParent__foto img{
        width: 100%;
        height: 100%;
    }
    ._word1Pr{
        font-size: 30px;
    }
    ._w2Pr{
        bottom:50px;
        font-size: 30px;
        
        
    }
}

/*---------alternAndFamily--------------*/

.alternAndFamily {
    margin-top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 15px;
}
.alternAndFamily__top {
    display: flex;
    justify-content: space-around;
}
.alternAndFamily__title {
    font-family: 'Courier New', Courier, monospace;
    
     
}

.alternAndFamily__img {
    
}
.alternAndFamily__inform {
    display: flex;
    margin-top: 35px;
}

.alternAndFamily__video {
}
.alternAndFamily__button {
}

@media(max-width:940px){
    .alternAndFamily__top{
        flex-direction: column;
    }
      
}

@media(max-width:760px){
    .alternAndFamily__img img{
        width: 100%;
        height: 100%;
    }
    ._w2Af{
        font-size: 25px;
    }

    ._w1Af{
        font-size: 20px;
    }

    .alternAndFamily__img{
        margin-top: 60px;
    }
}

@media(max-width:500px){
    .alternAndFamily{
        margin-top: 30px;
    }
}

@media(max-width:650px){
    .alternAndFamily__inform{
flex-direction: column;}

._altFtopic{margin-top: 20px;}
}


/*-----------physics-----------*/

.physics {
    margin-top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 15px;
    
}
.physics__top {
    display: flex;
}
.physics__img {
    margin-right: 45px;
}
.physics__title {
    font-family: 'Courier New', Courier, monospace;
}

.flPh{
    font-size: 350px;
}

._w1Ph{
top: 120px;
left: 185px;
}

._phSw{
    left: 60px;

}
 
.physics__inform {
    margin-top: 35px;
}

.physics__video {

}

.physics__button {
}

@media(max-width: 1000px){
    .physics__top {
        flex-direction: column;
    }
}

@media(max-width: 560px){
._w2Ph{
    font-size: 30px;
}
.physics__img img{
    width: 100%;
    height: 100%;
}
}

@media(max-width: 460px){
    ._w2Ph{
        font-size: 25px;
        bottom: -30px;
        left: 70px;
    }
    .physics__title{

    }

    .physics__inform {
        margin-top: 130px;
    }
}



/*------------research-------*/

.research {
    margin-top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 15px;
    
}
.research__top {
    display: flex;
    justify-content: space-between;
}
.research__title {
    font-family: 'Courier New', Courier, monospace;
}

._resW1{
    left: 180px;
}
 
.research__img {
}
.research__inform {
    margin-top: 35px;
    display: flex;
}
 
.research__link {
}
.research__video {
}
 
.research__button {
}

@media(max-width: 1100px){
    .research__top {
        flex-direction: column;
        
    }


}

@media(max-width: 830px){
    .research__img img{
        width: 100%;
        height: 100%;

    }
    
}

@media(max-width: 550px){
    ._resW2{
        font-size: 25px;
        bottom: -30px;
        left: 70px;
    }

    ._resW1{
font-size: 22px;
    }

    .research__img{
        margin-top: 120px;
    }
}

@media(max-width:500px){
    .research{
        margin-top: 30px;
    }
}


/*------------experts-------------*/

.experts {
    margin-top: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.25);
    padding-bottom: 15px;
}
.experts__title {
    text-align: center;
}
.experts__inform {
    margin-top: 40px;
   
}
.expert {
    display: flex;
    margin-top: 15px;
}
.expert__foto img{
    border-radius: 50%;
    width: 150px;
}
.expert__text {
    font-size: 20px;
    padding: 15px;
}

.director {
    margin-top: 35px;
}
.director__top {
    display: flex;
    justify-content: center;
}
.director__title {
    font-size: 35px;
    margin-right:70px;
}

.director__inform{
    font-size: 20px;
}
.expert__foto {
}
.director__button {
    
}
.director__video {
}

@media(max-width: 700px){
    .director__title{
        font-size: 25px;
        text-align: justify;
    }
}

@media(max-width: 570px){
    .director__inform {
        flex-direction: column;
        align-items: center;
       
    }

    .director__title{
        text-align: center;
        margin-right: 0;
    }
}

/*----------feedback----------*/

.feedback {
    margin-top: 70px;
}
.feedback__title {
    text-align: center;
    
}
.feedback__slider{
    display: flex;
    margin: 0 auto;
    margin-top: 30px;

    


}
.feedback__slide {
     
   padding: 30px;
    
}
.slide__foto img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.slide_text {
    margin-top: 15px;
    
}

.feedback__slider button{
     
}

/*--------becomeMember------------*/

.becomeMember {
margin-top: 70px;
}
.becomeMember__title {
    text-align: center;
}
.becomeMember__text {
}

.becomeMember__button {
}
